.DS_Store
*.icloud
*.swp

# Latex builds
*.eps
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.lop
*.lot
*.out
*.synctex.gz
*.toc
*.lof
*.bcf
*.run.xml
*.synctex*
.config/github-copilot
.config/configstore
.config/raycast/extensions
.vscode
.venv
QuestPacher
.config/QuestPatcher
